@model List<Kinder_La_Granja.Models.Tareas>

<h2 class="mt-5 text-white text-center">Tareas del Niño</h2>

@if (!Model.Any())
{
    <p>No hay tareas asignadas a este niño.</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre de la Tarea</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tarea in Model)
        {
            <tr>
                <td>@tarea.nombre</td>
                <td>
                    <form method="post" asp-action="EliminarTareaAsignada" asp-route-ninoId="@ViewBag.NinoId"
                          asp-route-tareaId="@tarea._id">
                        <button type="submit" class="btn btn-outline-danger btn-sm">
                            Eliminar
                        </button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<h3 class="mt-4 text-white">Asignar Nuevas Tareas</h3>
<form method="post" asp-action="AsignarTareas" asp-route-ninoId="@ViewBag.NinoId">
    <div class="form-group">
        <label for="Tareas">Selecciona las Tareas:</label>
        <select name="selectedTareas" class="form-control" multiple="multiple">
            @foreach (var tarea in ViewBag.TodasLasTareas)
            {
                <option value="@tarea._id">@tarea.nombre</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-outline-primary mt-3">Asignar Tareas</button>
</form>

<a asp-action="Index" class="btn btn-secondary mt-3">Volver al Listado de Niños</a>


